torch
torchvision
numpy
opencv-python
scikit-learn
matplotlib
tqdm
kaggle
albumentations
segmentation_models_pytorch
rasterio
scikit-image
fastapi
uvicorn
pydantic
pyproj
pandas
prettytable
earthengine-api
timm